<header class='masthead'>
    <p class='masthead-intro'>zdravo, ja sam</p>
    <p> </p>
    <h1 class='masthead-heading'>SARA!</h1>
  </header>
  <section class="introduction-section">
      <h1>O meni:</h1>
      <p>Zdravo, moje ime je Sara Kijanović. :)</p>
      <p>Student sam treće godine Fakulteta tehničkih nauka, Univerziteta u Novom Sadu, 
          na studijskom programu Inženjerstvo informacionih sistema, a moj broj indeksa je <b>IT 14-2018</b>.</p>

  </section>
  
  
  <footer class="content-footer">
      <p>Kod ovog projekta možete pronaći na mom GitHub nalogu:</p>
      <ul class="social">
          <li><a class="css-is-deranged" href="https://github.com/sarakijanovic">GitHub</a></li>
  
      </ul>
  
  </footer>