<header class='masthead'>
    
    <h1 class='masthead-heading'>RVA</h1>
  </header>
  <section class="introduction-section">
      <h1>O projektu:</h1>
    
    
      <p>Projekat iz predmeta Razvoj višeslojnih aplikacija se oslanja na osnovnom prikazu rada određenog dela studentske službe</p>
      <p>U okviru projekta posmatrane su četiri klase, a to su student, smer, grupa i projekat na kom rade studenti. </p>
        <p>Omogućene su CRUD operacije za sve pomenute klase, kao i različit prikaz određenih elemenata, odnosno da na osnovu grupe možete pristupiti studentima koji su u toj grupi.</p>  
    <p>Koristili su se: PGAdmin (PostgresSQL), Spring Tool Suite sa SoapUI pri testiranju, Visual Studio Code (Angular, NodeJS).</p>
    </section>

  